header {
    z-index: 999;
    height: fit-content;
}

.headerContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.headerBackground {
    height: 6.25rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.logo {
    width: 10%;
    margin-left: 1.5%;
    margin-top: -1%;
    z-index: 10;
}

.nav {
    width: 62rem;
    display: flex;
    justify-content: center;
    z-index: 10;

}

.dropdown:hover, .dropdown2:hover, .dropdown3:hover {
    background-color: #29A376;
}

.dropdown:hover .dropbtn, .dropdown2:hover .dropbtn2, .dropdown3:hover .dropbtn3 {
    color: #FFF;
    transition: all 0s;
}

.dropbtn, .dropbtn2, .dropbtn3, .dropbtn4 {
    background: none;
    padding: 0.625rem;
    font-size: 1rem;
    border: none;
    transform: scale(1);
    transform-origin: top center;
    transition: all 1s ease-in-out;
}

.dropbtn, .dropbtn2, .dropbtn3 {
    margin-top: 1.5rem;
}

.dropbtn4 {
    margin-top: 0.5rem;
    border-radius: 1.5rem;
}
  
.dropdown-content, .dropdown-content2, .dropdown-content3, .dropdown-content4 {
    display: none;
    position: absolute;
    min-width: 10rem;
}

.dropdown-content a, .dropdown-content2 a, .dropdown-content3 a, .dropdown-content4 a {
    color: #29A376;
    background: #fff;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .dropdown-content2 a:hover, .dropdown-content3 a:hover, .dropdown-content4 a:not(#signUpButton a, #signInButton a):hover {
    background-color: rgba(41,163,118, 0.8);
    color: #fff; 
    transform: scale(1.1);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
}

.dropdown:hover .dropdown-content, .dropdown2:hover .dropdown-content2, .dropdown3:hover .dropdown-content3, .dropdown4:hover .dropdown-content4 {
    display: block;
}

#noUser {
    width: 5rem;
    height: 5rem;
}

.dropdown4:hover #noUser {
    display: none;
}

.dropdown-content4 {
    position: absolute;
    right: 0.5rem;
}

.dropbtn4 {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
}

.dropdown4 img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#signUpButton:hover a, #signInButton:hover a {
    background-color: #F5F5F5;
}

#searchBarContainer 
{
    display: flex;
    align-items: center;
    height: 2.6em;
    width: 50%;
    border-radius: 6.25rem;
    color: #464646;
    margin-top: 1.25rem;
    margin-left: 1.5rem;
    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#searchBarContainer #formContainer
{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(220, 220, 220, 0.242);
}

#searchBarContainer>div:first-child{
    height: 2.6rem;
    width: calc(100% - 2.5rem);
    display: flex;
    justify-content: space-around;
}

#searchBarContainer>div:first-child>*
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBarContainer #searchForm 
{
    border-radius: 1.5rem;
    align-self: baseline;
    display: none;
    position: absolute;
    width: 100%;
    align-content: center;
    flex-direction: column;
    width: 100%; height: 30vh;
    background-color: #FFF;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#searchBarContainer #searchForm>*
{
    text-align: center;
    flex: 1
}

#searchBarContainer #searchForm>div:first-child {
    height: 2.6rem;
    width: calc(100% - 2.5rem);
    display: flex;
}

#searchBarContainer #searchForm>div:first-child>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

#range {
    height: 10px;
    width: calc(100% - 4rem);
    margin: 2rem;
    font-size: .7rem;
}

#range .noUi-connect {
    background: rgb(41, 163, 118);
}

#range .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px; /* half the width */
    border-radius: 9px;
}

#range .noUi-tooltip {
    display: none;
}
#range .noUi-active .noUi-tooltip {
    display: block;
}

#searchBarContainer span
{
    cursor: pointer;
}

.searchButton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 100rem;
    border: none;
    outline: none;
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    cursor: pointer;
}

.fa-magnifying-glass {
    position: relative;
    top: 0.6rem;
    width: 2.375rem;
    height: 2.25rem;
    object-fit: cover;
}

#searchBarContainer select { 
    width: fit-content;
    border: 1px; 
    margin-right: 0.625rem;
}

#searchBarContainer select.filter {
    width: fit-content;
    border: 1px; 
    margin-right: 0.625rem;
}

/* Search Bar Carousel */
.searchBarSlides {
    display: none;
    position: relative;
}

.searchBarDots {
    cursor: pointer;
    /* height: 0.625rem;
    width: 0.625rem; */
    flex: 1;
    margin: 0.125rem 0.5rem;
    padding: 0.125rem 0.5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 1rem;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.searchBarDotActive, .searchBarDots:hover {
    background-color: rgba(41,163,118, 0.8);
    color: #fff
}

.signInUp {
    margin-left: auto; 
    margin-right: 2rem;
    z-index: 10;
}

.toast {

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
    animation: fadein 0.6s, fadeout 2s 2.5s forwards;

    height: 6.25rem;
    width: 18.75rem;
    position: absolute;

    top: 6.25rem;
    right: 0.625rem;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    background-color: rgba(41,163,118, 0.8);
    color: #FFF;

    z-index: 9999999;
}

@keyframes fadein {
    from {opacity: 0; right: -31.25rem}
    to {opacity: 1; right: 0.625rem}
  }

  
  @keyframes fadeout {
    0% {opacity: 1; right: 0.625rem;}
    50% {opacity: 0; right: 0.625rem;}
    100%{ opacity: 0; right: -31.25rem;}
  }
