/* INDEX VIEW */

.landingHeader
{
    margin-top: 240px;
    height: 100px;
    color: white;
    text-align: right;
    text-overflow:ellipsis;
}

.slideshow
{
    background-color: beige;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40%;

    z-index: -1;
}

.slide
{
    width: 100%;
    min-height: 100%;
    background-size: cover;
}

#slide1
{
    background-image: url("https://www.singaporetravellers.info/wp-content/uploads/2018/08/seoul.jpg");
    animation: shrink 10s infinite alternate;  
}

@keyframes shrink {
    0% {
      background-size: 120% 120%;
    }
    100% {
      background-size: 100% 100%;
    }
}

#slogan {
    position: absolute;
    top: 350px;
    right: -400px;
    margin-right: 200px;
    width: 100%;
    height: 100px;
    -webkit-animation: slide 3.5s forwards; 
    animation: slide 5.5s forwards;
    color: rgb(237, 230, 230);
    font-size: 50px
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { right: 0; }
}


  
 
  
  