
/* MODAL CSS */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    opacity: 0;
    transition: all 0.5s; 
}

.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    width: 80%;
    height: 600px;
    border: 1px solid #888;
    border-radius: 20px;
    overflow: scroll;
}

.form-container {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
}


#banner-container {
    position: absolute;
    justify-content: center;
    width: 50%;
    height: 100%;
    left: 50%;
    color: white;
    background-color: #CAE5FF;
    z-index: 1002;
}

#banner-container h2{
    font-size: .7rem;
}

#banner-container button{
    border: 2px white solid;
}


#signIn-container, #signUp-container {
    flex: 1;
    padding: 20px;
}

.close 
{
    color: #aaaaaa;
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    z-index: 2;
    right: 10px;
    top: 10px;
}
  
.close:hover,
.close:focus 
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


