section{
    width: 70%;
    display: flex;
    justify-content: center;
}
.personalInformationContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personalInformationContainer form div{
    margin-bottom: 1.875rem;
}

#languageSelection{
    display: flex;
    flex-direction: column;
}

/* profile photo */

#profilePhotoM{
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
    margin-bottom: 0.625rem;
    position: relative;
}

#photoM{
    height: 100%;
    width: 100%;
}

#fileM{
    display: none;
}


#uploadButtonM{
    height: 2.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    line-height: 1.875rem;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

#sendPhotoButton{
    width: 6.25rem;
    height: 1.875rem;
    font-size: 1.125rem;
}

.container{
    width: 37.5rem;
    display: flex;
}

.bioMod{
    justify-content: space-between;
}

.labelM{
    width: 8.125rem;
}

/* for all the input boxes */
.boxM{
    width: 12.5rem;
    height: 1.875rem;
}

/* for bio  and phoneNumber input box */
#bioM{
    width: 70%;
    height: 12.5rem;
}

#phoneNumberM{
    margin-left: 3.125rem;
}

#buttonContainer{
    display: flex;
    justify-content: space-evenly;
}
