#postPropertyForm, #modifyPropertyForm {
    display: flex;
    flex-direction: column;
}

#allPropInfo {
    display: flex;
}

#postTextInfo, #modifyTextInfo {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

#postTextInfo > *, #modifyTextInfo > * {
    display: flex;
    justify-content: space-between;
    margin: 0 0.2rem 0.5rem 0;
    position: relative;
}

#postPropertyForm input, #postPropertyForm select, #modifyPropertyForm input, #modifyPropertyForm select,
#postPropertyForm textarea, #modifyPropertyForm textarea {
    width: 12.5rem;
    justify-content: center;
}

#postPropertyForm textarea, #modifyPropertyForm textarea {
    height: 4rem;
}

#postImgInfo, #modifyImgInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 43rem;
    color: #000;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgb(229, 229, 229);
}

#postPropertyForm #photosPreview > *, #modifyPropertyForm #photosPreview > * {
    position: relative;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgb(229, 229, 229);
    margin-left: 0.5rem;
}

#postPropertyForm span.hide, #modifyPropertyForm span.hide {
    display: flex;
    opacity: 0;
    height: fit-content;
    position: absolute;
    right: 12.5rem;
}
#postPropertyForm span.show, #modifyPropertyForm span.show {
    position: absolute;
    right: 12.5rem;
    opacity: 1;
    width: 100%;
}

#furnished {
    margin-right: 6rem;
}

#bedField {
    position: relative;
    top: -2rem;
    visibility: hidden;
}

#bank {
    padding-right: 0.5rem;
}

#price::-webkit-outer-spin-button, #bankAccNum::-webkit-outer-spin-button,
#price::-webkit-inner-spin-button, #bankAccNum::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#price, #bankAccNum {
    -moz-appearance: textfield;
}

#newPropImg {
    align-self: center;
}

#photosPreview {
    width: 50.5rem;
    margin-left: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 15rem;
    overflow-y: scroll;
}

#photosPreview img {
    width: 12.5rem;
    height: 9.5rem;
}

#description {
    resize: none;
}

#addImg:hover {
    background-color: rgba(41,163,118, 0.90);
}

.closeBttn
{
    color: #aaaaaa;
    font-size: 1.75rem;
    font-weight: bold;
    z-index: 2;
    right: 0.625rem;
    top: 0.625rem;
}

#postPropertyButton {   
    width: 100%;
    align-self: center;
    margin-top: 2rem;
}

/* Animation */

.slideDown {
    animation: slideDown 0.25s forwards ease-in;
}

@keyframes slideDown {
    from {}
    to {
        top: 0;
        visibility: visible;
    }
}
