#postPropertyForm, #modifyPropertyForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

#postPropertyForm > *, #modifyPropertyForm > * {
    display: flex;
    justify-content: space-between;
    width: 25rem;
    position: relative;
}

#postPropertyForm #photosPreview > *, #modifyPropertyForm #photosPreview > * {
    position: relative;
}

#postPropertyForm span.hide, #modifyPropertyForm span.hide {
    display: none;
}
#postPropertyForm span.show, #modifyPropertyForm span.show {
    position: absolute;
    display: block;
    left: 100%;
    width: 100%;
}

#photosPreview img {
    width: 12.5rem;
}

#description {
    resize: none;
}

#postPropertyButton {
    width: 30%;
    justify-content: center;
}

.closeBttn
{
    color: #aaaaaa;
    font-size: 1.75rem;
    font-weight: bold;
    z-index: 2;
    right: 0.625rem;
    top: 0.625rem;
}
