#postPropertyForm, #modifyPropertyForm {
    display: flex;
    flex-direction: column;
}

#allPropInfo {
    display: flex;
}

@media only screen and (max-width: 650px) {
    #allPropInfo {
        flex-direction: column;
    }
}

#postTextInfo, #modifyTextInfo {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

#postTextInfo > *, #modifyTextInfo > * {
    display: flex;
    justify-content: space-between;
    margin: 0 0.2rem 1rem 0;
    white-space: nowrap;
    position: relative;
}

#postPropertyForm input, #postPropertyForm select, #modifyPropertyForm input, #modifyPropertyForm select {
    width: 12.5rem;
    justify-content: center;
    height: 1.7rem;
}

.t-description {
    border: none;
}

@media only screen and (max-width: 650px) {
    .t-description {
        width: 22.5rem;
    }
}

#postPropertyForm textarea, #modifyPropertyForm textarea {
    width: 12.5rem;
    justify-content: center;
    height: 4rem;
}

#postImgInfo, #modifyImgInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 52rem;
    color: #000;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgb(229, 229, 229);
}

#postPropertyForm span.hide, #modifyPropertyForm span.hide {
    display: flex;
    opacity: 0;
    height: fit-content;
    position: absolute;
    right: 12.5rem;
}
#postPropertyForm span.show, #modifyPropertyForm span.show {
    position: absolute;
    left: 11rem;
    bottom: -1rem;
    opacity: 1;
    width: 100%;
    font-size: 0.625rem;
    color: red;
}

#furnished {
    margin-right: 6rem;
}

#bedField {
    position: relative;
    top: -2rem;
    visibility: hidden;
}

#bank {
    padding-right: 0.5rem;
}

#price::-webkit-outer-spin-button, #bankAccNum::-webkit-outer-spin-button,
#price::-webkit-inner-spin-button, #bankAccNum::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#price, #bankAccNum {
    -moz-appearance: textfield;
}

#newPropImg {
    align-self: center;
}

#photosPreview {
    width: 50.5rem;
    margin-left: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 15rem;
    row-gap: 0.5rem;
    overflow-y: scroll;
}

@media only screen and (max-width: 650px) {
    #photosPreview {
        width: 100%;
        margin-left: 0;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 20rem;
    }
}

#photosPreview > * {
    height: 13.5rem;
    margin: 0;
    padding: 0;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgb(229, 229, 229);
    margin-left: 0.5rem;
    overflow: hidden;
}

@media only screen and (max-width: 650px) {
    #photosPreview > * {
        height: auto;
    }
}

#photosPreview img {
    width: 100%;
    height: 12.5rem;
}

@media only screen and (max-width: 650px) {
    #photosPreview img {
        height: 18rem;
    }
}


#description {
    resize: none;
}

#addImg:hover {
    background-color: rgba(41,163,118, 0.90);
}

.closeBttn
{
    color: #aaaaaa;
    font-size: 1.75rem;
    font-weight: bold;
    z-index: 2;
    right: 0.625rem;
    top: 0.625rem;
    line-height: 0%;
    float: right;
    margin: 0.65rem 0.25rem 0 0;
}

#postPropertyButton {   
    width: 100%;
    align-self: center;
    margin-top: 2rem;
}

@media only screen and (max-width: 650px) {
    #postPropertyButton {
        display: none;
    }   

    #postPropertyButton2 {
        display: inline-block;
    }   
}

@media only screen and (min-width: 650px) {
    #postPropertyButton {
        display: inline-block;
    }   

    #postPropertyButton2 {
        display: none;
    }   
}

/* Animation */

.slideDown {
    animation: slideDown 0.25s forwards ease-in;
}

@keyframes slideDown {
    from {}
    to {
        top: 0;
        visibility: visible;
    }
}
