:root {
    /* color */
    --white-color: white;
    --black-color: black;
    --gray-color: gray;
    --profile-border-color: #29A376;
    --red-color: red;
    --green-color: green;

    /* font size */

}

#newProfile,
#viewProfile,
#modifyProfile {
    margin-bottom: 5rem;
}

#userImgContainer,
#profilePhoto {
    height: 10rem;
    width: 10rem;
    position: absolute;
    right: 1%;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--gray-color);
    position: relative;
    z-index: -1;
}

#userImgContainer img,
#profilePhoto img,
#userImg,
#photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* =============== */
/* Create Profile  */
/* =============== */

@media only screen and (max-width: 650px) {
    #createProfile {
        width: 100vw;
    }
}

#newProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--profile-border-color);
    border-radius: 1.25rem;
    padding: 5rem 7rem;
    margin: auto;
    width: 30rem
}

#newProfile h1 {
    margin: 0;
    padding: 0;
}

#profilePhoto {
    margin: 1.25rem 0;
    z-index: 2;
}

#profilePhoto div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#file {
    display: none;
}

.uploadPhoto {
    width: 14rem;
}

#createProfileDetails>div,
#langDetails>div {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

#phoneNum,
#phoneNumber {
    width: 18.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
}

#birthdate select {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    width: 5.5rem;
    margin-right: 0.5rem;
}

.multi-selector {
    width: 15.5rem;
}

.select-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 18.5rem;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 0.1rem;
}

.select-field,
.lang,
.list {
    background-color: white;
    padding: 0.25rem 0.5rem;
}

.list {
    width: 18.5rem;
    box-shadow: 0 30px 60px rgb(0, 0, 0, 0.2);
    display: none;
}

#langList {
    z-index: 1000000;
}

.down-arrow {
    font-size: 1.2rem;
    display: inline-block;
    transition: 0.2s linear;
}

.lang {
    display: block;
    padding-left: 0;
}

.lang span {
    float: right;
    font-size: 0.6rem;
    padding-top: 0.375rem;
}

.lang:hover {
    background-color: aliceblue;
}

.show {
    display: block;
    position: absolute;
    z-index: 1;
}

.rotate180 {
    transform: rotate(-180deg);
}

#line1 p {
    color: red;
}

#bio,
#userBio {
    height: 4rem;
    width: 18.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
}

#create,
#save {
    width: 18.5rem;
    font-size: 1.1rem;
}

/* =============== */
/* PROFILE VIEW   */
/* =============== */
#homeButton:hover {
    background-color: rgba(41, 163, 118, 0.90);
}

#profileContainer {
    justify-content: center;
}

#editProfileButton {
    margin: 0;
}

#userInfo {
    width: 100%;
    justify-content: center;
    border: 2px solid var(--profile-border-color);
    border-radius: 1.25rem;
    padding: 2rem 2rem;
}

#userInfo form {
    align-self: flex-end;
}

#userName {
    font-size: 1.8rem;
}

#userMain {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.25rem;
    margin: 0 0.5rem;
    width: 90%;
}

#userMain {
    border-bottom: 1px solid var(--gray-color);
}

#userMain>div:first-child {
    margin-right: 3rem;
}

#userMain>div:last-child {
    width: 75%;
}

#userDetails {
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
}

#userDetails div p:first-child {
    font-weight: bold;
}

#userDetails>*:not(:nth-child(3)) {
    margin-right: 20%;
    margin-bottom: 1rem;
}

#userDetails ul {
    column-count: 2;
    column-gap: 2rem;
    margin-left: 1rem;
}


#superBio {
    align-self: flex-start;
    margin: 2rem 4rem;
}

#contact {
    margin-top: 2rem;
}

#viewProfile>p {
    text-align: center;
    padding-top: 5rem;
}

/* =============== */
/* Modify Profile  */
/* =============== */
@media only screen and (max-width: 650px) {
    #modifyProfileSection {
        width: 100vw;
    }
}

#modifyFormM, #row1 {
    display: flex;
    flex-direction: column;
}

#modifyFormM > *, #row1 > * {
    margin-bottom: 1.5rem;
}

.personalInformationContainer {
    width: 30rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--profile-border-color);
    border-radius: 1.25rem;
}

.personalInformationContainer h2 {
    margin-top: 0.5rem;
}

.modifyList {
    height: fit-content;
    max-height: 10rem;
    overflow-y: scroll;
    z-index: 10
}

/*  profile photo  */
/* =============== */

#profilePhotoM {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--gray-color);
    margin-bottom: 0.625rem;
    position: relative;
    margin-top: 1em;
    z-index: 1;
}

#photoContainerM {
    display: flex;
    justify-content: center;
}

#photoM {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#fileM {
    display: none;
}

#uploadButtonM {
    height: 2.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    background-color: rgb(0, 0, 0, 0.7);
    color: var(--white-color);
    line-height: 1.875rem;
    font-size: 1rem;
    cursor: pointer;
    display: none;
    pointer-events: auto;
}

.bottomContainerM {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

#alertMesg {
    color: var(--red-color);
    display: none;
}

.red {
    border: 1px solid var(--red-color);
}

.green {
    border: 1px solid var(--green-color);
}


/* Reservation Cards/View */
#cancellation {
    /* display: flex;
    justify-content: space-between; */
    /* flex-wrap: wrap; */
    width: 100%;
    margin-top: 3rem;
}

#cancellation>p {
    align-self: center;
    font-size: 1.2rem;
    text-decoration: overline underline;
    text-underline-offset: 0.3rem;
    margin-left: 5rem;
}

#reservationUpdate {
    margin: 1rem 2rem;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    border-bottom: #464646 1px solid;
    padding: 0.5rem;
    flex-wrap: wrap;
}

#reservationUpdate span {
    font-weight: bold;
}

.reservationNum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservationNum p:first-child {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.reservationNum p:last-child a {
    text-decoration: none;
    color: #29A376;
    font-weight: bold;
}

.reservationNum div {
    width: 14rem;
    height: 8rem;
    margin-bottom: 0.5rem;
}

.reservationNum div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#reservationUpdate>div:nth-child(2) {
    margin: 1.5rem 5rem 0 5rem;
}

#cancelReservation {
    border-radius: 2.5rem;
    background-color: rgb(41, 163, 118);
    color: white;
    cursor: pointer;
    font-size: 1rem;
    align-self: center;
    padding: 0.5rem;
    margin-top: 1rem;
}


@media screen and (max-width: 650px) {

    /* Profile View Page */
    #editProfileButton span {
        display: none;
    }

    #userMain {
        flex-direction: column;
        width: 100%;
    }

    #userMain>div:first-child {
        margin-bottom: 1rem;
        margin-right: 0;
        align-self: center;
    }

    #userDetails ul {
        column-count: 1;
    }

    #superBio {
        margin: 2rem 0;
    }

    /* Modify Profile Page */
    .personalInformationContainer {
        border: none;
        width: 100%;
    }

    /* Create Profile Page */
    #newProfile {
        border: none;
        padding: 0;
    }

    #line1,
    #newProfile #profilePhoto,
    #newProfile .uploadPhoto {
        align-self: center;
    }

    
    /* Reservation Cards/View */
    #cancellation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    
    #cancellation>p {
        margin-left: 0;
    }

    #reservationUpdate {
        flex-direction: column;
        justify-content: center;
    }

    #reservationUpdate span {
        font-weight: bold;
    }

    .reservationNum {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #reservationUpdate>div:nth-child(2) {
        margin: 0.5rem 0 0 0;
    }
  
    #reservationUpdate {
        font-size: 0.8rem;
    }

}
