
/* PROFILE VIEW */

#profileContainer { 
    justify-content: center;
}

#userImgContainer {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    overflow: hidden;
}

#userImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#userInfo {
    width: 100%;
    min-width: 550px;
    justify-content: center;
    border: 2px solid powderblue;
    border-radius: 20px;
}

#userName {
    font-size: 1.8rem;
}

#userInfo>div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    /* margin: 0 10px; */
    width: 90%;
}

#userMain {
    border-bottom: 1px solid gray;
}

#userInfo>div>div:first-child {
    min-width: 200px;
}

#userInfo>div>div:last-child {
    width: 75%;
    min-width: 300px;
}

#userDetails ul {
    padding-left: 40px;
}