
:root{
    /* color */
    --white-color: white;
    --black-color: black;
    --gray-color: gray;
    --profile-border-color: #B0E0E6; 
    --red-color: red;
    --green-color: green;

    /* font size */
   
}

#newProfile, #viewProfile, #modifyProfile {
    margin-bottom: 5rem;
}

#userImgContainer, #profilePhoto, #profilePhoto div{
    height: 10rem;
    width: 10rem;
    position: absolute;
    right: 1%;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--gray-color);
    position: relative;
    z-index: -1;
}

#userImgContainer img, #profilePhoto div img, #userImg, #photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profileFormsBorder {
    border: 2px solid var(--profile-border-color);
    border-radius: 1.25rem;
    padding: 5rem 7rem;
}

/* =============== */
/* Create Profile  */
/* =============== */

#newProfile h1 {
    margin: 0;
    padding: 0;
}

#profilePhoto {
    margin: 1.25rem 0;
    z-index: -2;
}

#profilePhoto div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#file {
    display: none;
}

.customFileButton {
    color: var(--gray-color);
    padding: 0.25rem 0.5rem;
    border: 2px solid var(--gray-color);
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.9rem;
}

#newProfile label {
    margin-bottom: 0.25rem;
}

.flexRow {
    display: flex;
    justify-content: space-between;
}

#createProfileDetails>div, #langDetails>div {
    margin: 1.25rem 0;
    display: flex;
    flex-direction: column;
}

#phoneNum, #phoneNumber {
    width: 15.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
}

#birthdate select {
    font-size: 1rem;
    padding: 0.25 0.5;
    width: 5rem;
}

.multi-selector{
    width: max-content;
}
.select-field{
    border: 1px solid rgb(187, 187, 187);
    border-radius: 0.25rem;
}
.select-field,.lang,.list{
    width: 100%;
    background-color: white;
    padding: 0.3rem;
}
.list{
    box-shadow: 0 30px 60px rgb(0,0,0,0.2);
    display: none;
}
.down-arrow{
    font-size: 1.2rem;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s linear;
}
.lang{
    display: block;
    padding-left: 0;
}
.lang span{
    float: right;
    font-size: 0.6rem;
    padding-top: 6px;
}
.lang:hover{
    background-color: aliceblue;
}
.show{
    display: block;
}
.rotate180{
    transform: rotate(-180deg);
}

#line1 p {
    color: red;
}

#bio, #userBio {
    height: 4rem;
    width: 100%;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
}

#create, #save {
    width: 100%;
    font-size: 1.1rem;
}

/* =============== */
/* PROFILE VIEW   */
/* =============== */

#profileContainer { 
    justify-content: center;
}

#userInfo #userMain #userImgContainer {
    right: 25%;
}

#userInfo {
    width: 100%;
    min-width: 34.375rem;
    justify-content: center;
    border: 2px solid var(--profile-border-color);
    border-radius: 1.25rem;
    padding: 3rem 2rem;
}

#userName {
    font-size: 1.8rem;
}

#userInfo>div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1.25rem;
    margin: 0 0.5rem;
    width: 90%;
}

#userMain {
    border-bottom: 1px solid var(--gray-color);
}

#userInfo>div>div:first-child {
    min-width: 12.5rem;
}

#userInfo>div>div:last-child {
    width: 75%;
    min-width: 18.75rem;
}

#userDetails ul {
    padding-left: 2.5rem;
}


/* =============== */
/* Modify Profile  */
/* =============== */
#modifyProfileSection{
    width: 80%;
    display: flex;
    justify-content: center;
}

.personalInformationContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.profileFormsBorder{
    border: 2px solid var(--profile-border-color);
    border-radius: 20px;
    padding: 30px;
}

/*  profile photo  */
/* =============== */

#profilePhotoM{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--gray-color);
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    margin-top: 1em;
}

#photoM{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#fileM{
    display: none;
}

#uploadButtonM{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    background-color: rgb(0, 0, 0, 0.7);
    color: var(--white-color);
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

#phoneBox {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

#row1 {
    width: 100%;
    margin-bottom: 5rem;
}

#phoneNumber {
    margin:0.5rem 0 0 0.5rem;
}

#userBio {
    margin-left: 0.5rem;
    
}

#save {
    margin-top: 7rem;
}

.bottomContainerM{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

#alertMesg{
    color: var(--red-color);
    display: none;
}

.red{
    border: 1px solid var(--red-color);
}

.green{
    border: 1px solid var(--green-color);
}

