/*** CSS for listPropertiesView propertyCard & see all photo pages ***/
#properties {
    width: 100%;
    padding-top: 1.25rem;
}

#propertyDetails {
    color: black;
}

#propertyDetails p {
    margin: 0.25rem;
}

.property {
    padding: 0.625rem 0;
    border-bottom: 1px solid grey;
    margin: 1.25rem;
    width: 21rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.propertyImgContainer {
    width: 18.75rem;
    height: 15.625rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.propertyImgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.price {
    color: black;
}

.price span {
    font-weight: bold;
    font-size: 1.35rem;
}


/* SINGLE DETAILED PROPERTY VIEW */

.validatedCheck {
    width: 1.5rem;
    vertical-align: bottom;
}

.propImages, .propImgSlides {
    width: 100%;
    height: 28.125rem;
    position: relative;
}

.allPropPhotos {
    position: absolute;
    bottom: -0.8rem;
    left: 1rem;
    z-index: 1;
}

.propDetails {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
}

.propDesc {
    width: 60%;
    color: #0A2239;
}

.upperLowerBorders {
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    padding: 1.25rem 0;
}

.propResv {
    width: 21.875rem;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.625rem;
    padding: 1rem;
    color: black;
}

.propResv > * {
    margin-bottom: 2rem;
}

.resvbutton {
    font-size: 1.1rem;
}

.resvbutton:hover {
    background-color: rgba(41,163,118, 0.90);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -1.375rem;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1.875rem;
    transition: 0.6s ease;
    border-radius: 0 0.19rem 0.19rem 0;
    user-select: none;
    text-shadow: 2px 2px 4px #717171;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.25);
}

.propImgDesc {
    color: #f2f2f2;
    background-color: rgba(0,0,0,0.25);
    font-size: 1.05rem;
    padding: 0.5rem 0.75rem;
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    text-align: center;
}

.propImgSlides {
    display: none;
}

.propImgDots {
    cursor: pointer;
    height: 0.625rem;
    width: 0.625rem;
    margin: 0 0.125rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .propImgDots:hover {
    background-color: #29A376;
}

.propOwnerInfo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}

.propOwnerIcon {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    overflow: hidden;
}

.propOwnerIcon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* ===================================== */
/* See all photos of the current property*/
/* ===================================== */

.photoModalContainer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: white;
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    overflow-y: scroll;
}

.innerContainer{
    width: 800px;
    margin-top: 3.75rem;
}

.imgGrid{
    width: 100%;
    display: grid;
    grid-template-rows:auto auto;
    grid-template-columns:1.2fr 1.2fr;
    grid-template-areas:
    "image-1 image-1"
    "image-2 image-3";
    overflow:hidden;
    grid-gap:1px;
}


.allPropImgContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.allPropImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center center;
    transition: transform 0.5s ease-in-out;
}

.allPropImgContainer:hover .allPropImg{
    transform: scale(1.2);
}

.pModalCloseButton{
    cursor: pointer;
    position: fixed;
    top: 1.25rem;
    left: 3.125rem;
}

/* specificity */
div.showP{
    opacity: 1;
    pointer-events: auto;
}

/* ============= */
/* detailed view */
/* ============= */
.detailedPhotoView{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 1100;
    pointer-events: none;
    opacity: 0;
}

/* Slideshow container */
.slideContainer {
    width: 80%;
    height: 80%;
    position: relative;
    margin-top: 3.75rem;
    display: flex;
    border-radius: 1.25rem;
    overflow: hidden;
}

.detailedImgSlides {
    display: none;
    width: 100%;
    height: 100%;
}

.propertyGallery{
    width: 100%;
    height: 100%;
}

.detailedCloseButton{
    cursor: pointer;
    position: fixed;
    top: 1.25rem;
    left: 3.125rem;
}

.detailedCloseButton:hover {
    background-color: rgba(41,163,118, 0.90);
}

/* animation */
/* ========= */
.fade {
    animation-name: fade;
    animation-duration: 1.0s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}



