#dates {
    margin-top: 100px;
    font-size: 24px;
    width: 100%;
}

#startDate, #endDate {
    width: 300px;
}

#creditCards {
    width: 125px;
    height: 25px;
}

.creditCardForm {
    max-width: 100%;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
}
.creditCardForm label {
    width: 80%;
    /* margin-bottom: 10px; */
}
.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}
.creditCardForm .payment {
    float: left;
    font-size: 15px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}

/* ================ */
/* Calendar section */
/* ================= */
.calendarContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.stayingDuration{
    width: 350px;
    height: 50px;
    display: flex;
    /* border: 1px solid black; */
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.checkIn, .checkOut {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0px;
    padding: 2px;
    border: 1px solid black;
}

.checkIn{
    border-radius: 10px 0px 0px 10px;
    border-right: none;
}

.checkOut{
    border-radius: 0px 10px 10px 0px;
}

.selectedFunction{
    border: 2px solid rgb(41, 163, 118);   
}


.bookingCalendar{
    width: 900px;
    height: 0px;
    background-color: white;
    opacity: 0;
    position: relative;
    top: -50px;
    left: 20px;
    pointer-events: none;
    z-index: 5;
    border-radius: 15px;
    border: 1px solid grey;
    padding: 2px;
    margin: 0;
}

/* calendar animations */
.calendarExtension{
    animation-duration: 1s;
    animation-name: slideDown;
    animation-fill-mode: forwards;
    pointer-events: auto;
}

@keyframes slideDown {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: 500px;
        opacity: 1;
    }
}

.calendarUp{
    animation-duration: 1s;
    animation-name: slideUp;
    animation-fill-mode: forwards;
}

@keyframes slideUp {
    from {
        height: 500px;
        opacity: 1;
    }

    to {
        height: 0px;
        opacity: 0;
    }
}

.daysB{
    margin-top: 15px;
}

/* ==================== */
/* reservation calendar */
/* ==================== */

:root {
    --dark-body: #4d4c5a;
    --dark-main: #141529;
    --dark-second: #79788c;
    --dark-hover: #323048;
    --dark-text: #f8fbff;

    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;

    --blue: #0000ff;
    --white: #fff;

    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dark {
    --bg-body: var(--dark-body);
    --bg-main: var(--dark-main);
    --bg-second: var(--dark-second);
    --color-hover: var(--dark-hover);
    --color-txt: var(--dark-text);
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.light {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: var(--font-family);
    background-color: var(--bg-body);
}

.calendar {
    height: max-content;
    width: max-content;
    background-color: var(--bg-main);
    border-radius: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    /* transform: scale(1.25); */
}

.light .calendar {
    box-shadow: var(--shadow);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-txt);
    padding: 10px;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    /* border-radius: 50%; */
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: var(--color-hover);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--color-hover);
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;
}

.toggle span {
    margin-right: 10px;
    color: var(--color-txt);
}

.dark-mode-switch {
    position: relative;
    width: 48px;
    height: 25px;
    border-radius: 14px;
    background-color: var(--bg-second);
    cursor: pointer;
}

.dark-mode-switch-ident {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--bg-main);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
    top: 2px;
    left: calc(2px + 50%);
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}

.month-list > div > div:hover {
    background-color: var(--color-hover);
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.dateFilled :hover{
    background-color: grey;
}

.dateSelection{
    background-color: indigo;
}







/* ==================== */
/* ==================== */
/* ==================== */

#owner, #cardNumber {
    width: 80%;
}


#cvv {
    width: 80%;
    margin-left: 47px;
}

#cardNum {
    margin-right: 30px;
}

#cardNumber, #cvv {
    display: flexbox; 
}

.expiry #month, .expiry #year {
    width: 175px;
    margin-left: 20px;
}

/* #month, #year {
    width: 20%;
} */

/* .creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
} */
.creditCardForm .payment .form-control, #start, #end  {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}
/* .creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
} */
/* .creditCardForm .CVV {
    width: 35%;
} */
/* .creditCardForm #card-number-field {
    width: 100%;
} */

#start, #end {
    font-size: 16px;
}

.expiry {
    display: flex;
    width: 80%;
    /* margin-left: 17px; */
    margin-top: 5px;
}

#dates, .creditCardForm #expiration-date {
    width: 49%;
}

#dates {
    font-size: 24px;
    width: 30%;
}

#available {
    font-size: 30px;
}

.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}

.buttons {
    width: 425px;
    display: flex;
    justify-content: center;
}

#reset, #confirm-purchase, #dateBtn {
    background-color: rgb(41, 163, 118);
    color: rgb(247, 238, 238); 
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    border: 2px solid #000;
    margin: 1.25rem 0;
    cursor: pointer;
    align-items: center;
    appearance: none;
    border-radius: 2.5rem;
    border-style: none;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0 6px 10px 0, rgb(0 0 0 / 12%) 0 1px 18px 0;
    box-sizing: border-box;
    display: inline-flex;
    fill: currentcolor;
    font-size: 1rem;
    font-weight: 500;
    height: 3rem;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 0.125rem 1.5rem;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
}

#reset:hover, #confirm-purchase:hover, #dateBtn:hover {
    background-color: rgba(41,163,118, 0.90);
}


#reset {
    margin-left: 20px;
}

/* .creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
} */
/* .creditCardForm .payment .btn, #reset {
    width: 30%;
    margin-top: 10px;
    margin-left: 80px;
    font-size: 14px;
    background-color: #2ec4a5;
    color: white;
    display: flex;
} */
.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}
.transparent {
    opacity: 0.2;
}

textarea {
    outline: none;
}

textarea:focus, input:focus{
    outline: none;
}

.red {
    border: 2px solid red;
}

.green {
    border: 2px solid green;
}

.nameError {
    visibility: hidden;
}

.numError {
    visibility: hidden;
}

.cvvError {
    visibility: hidden;
}
