#dates {
    margin-top: 100px;
    font-size: 24px;
    width: 100%;
}

#startDate, #endDate {
    width: 300px;
}

#creditCards {
    width: 125px;
    height: 25px;
    margin-top: 20px;
}

.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}

.creditCardForm .payment {
    font-size: 15px;
    margin: auto;
    width: 35rem;
    margin-top: 20px;
    position: relative;
}

.creditCardForm label {
    width: 100%;
    display: block;
    margin-bottom: 1.2rem;
    position: relative;
}

.creditCardForm label > span {
    width: 7rem;
    display: inline-block;
}

.creditCardForm label > div {
    display: block;
    position: relative;
    white-space: nowrap;
    left: 7.1rem;
}

.topContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stayingDuration{
    width: 350px;
    height: 50px;
    display: flex;
    border-radius: 10px;
    position: relative;
}

.checkIn, .checkOut {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0px;
    padding: 2px;
    border: 2px solid grey;
}

.checkIn{
    border-radius: 10px 0px 0px 10px;
    border-right: none;
}

.checkOut{
    border-radius: 0px 10px 10px 0px;
}

.checkIn > :first-child,
.checkOut > :first-child{
    color: rgb(41, 163, 118);
}


/* ================ */
/* Calendar section */
/* ================= */

.calendarContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}    

#datepicker{
    width: 240px;
    height: 45px;
    border: 1px solid rgba(41,163,118, 0.90);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 2;
    color: rgb(163, 158, 158);
    font-size: 18px;
}

.hiddenContainer{
    width: 240px;
    height: 45px;
    border: 1px solid rgba(41,163,118, 0.90);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 0;
    color: lightgray;
    font-size: 18px;
    opacity: 0;
    position: relative;
    top: 65px;
    background-color: white;
}

.showC{
    opacity: 1;
    pointer-events: auto;
    z-index: 3;
}

/* ==================== */
/* ==================== */

#dateBtn{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

#owner, #cardNumber, #cvv {
    width: 22.5rem;
}

.expiry #month,
.expiry #year {
    width: 10.7rem;
}

.creditCardForm .payment .form-control, #start, #end  {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}

#start, #end {
    font-size: 16px;
}

.expiry {
    display: flex;
}

#dates, .creditCardForm #expiration-date {
    width: 49%;
}

#dates {
    font-size: 24px;
    width: 30%;
}

#available {
    font-size: 30px;
}

.creditCardForm #credit_cards {
    margin-top: 25px;
    text-align: right;
}

.buttons {
    display: flex;
    justify-content: center;
}

#reset, #confirm-purchase {
    background-color: rgb(41, 163, 118);
    color: rgb(247, 238, 238); 
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    border: 2px solid #000;
    margin: 1.25rem 0;
    cursor: pointer;
    align-items: center;
    appearance: none;
    border-radius: 2.5rem;
    border-style: none;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 5px -1px, rgb(0 0 0 / 14%) 0 6px 10px 0, rgb(0 0 0 / 12%) 0 1px 18px 0;
    box-sizing: border-box;
    display: inline-flex;
    fill: currentcolor;
    font-size: 1rem;
    font-weight: 500;
    height: 3rem;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 0.125rem 1.5rem;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
}

#reset:hover, #confirm-purchase:hover{
    background-color: rgba(41,163,118, 0.90);
}

#reset {
    margin-left: 20px;
}

.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}

.transparent {
    opacity: 0.2;
}

textarea {
    outline: none;
}

textarea:focus, input:focus{
    outline: none;
}

.red {
    border: 2px solid red;
}

.green {
    border: 2px solid green;
}

.nameError {
    visibility: hidden;
}

.numError {
    visibility: hidden;
}

.cvvError {
    visibility: hidden;
}

@media screen and (max-width: 651px) {
    .creditCardForm .payment {
        width: 80vw;
        margin-top: 20px;
        position: relative;
    }

    .creditCardForm label > span {
        display: block;
    }


    #owner, #cardNumber, #cvv {
        width: 100%;
    }

    .expiry #month,
    .expiry #year {
        width: calc(50% - 17px);
        margin: 0;
    }
    .expiry #month {
        margin-right: 30px;
    }

}

@media screen and (max-width: 550px) {
    #dateBtn{
        font-size: 15px;
    }
}