/* #properties {
    width: 95%;
    margin-top: 20px;
}

#propertiesContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
} */

#searchResultsContainer {
    margin-top: 40px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

#searchMap {
    width: 35%;
    height: 100vh;
}

#propertiesSearchList
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 65%;
}

#propertiesSearchList .property {
    padding: 10px 0;
    border-bottom: 1px solid grey;
    margin: 20px;
    width: 800px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#propertiesSearchList #propertyDetails {
    display: flex;
    align-items: center;
    width: 60%;
}

#propertiesSearchList .propertyImgContainer {
    width: 200px;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
}
/* 
.propertyImgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
} */