#searchResultsContainer {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#searchMap {
    width: 35%;
    height: 40rem;
}

#propertiesSearchList
{
    /* display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; */
    width: 60%;
}

#propertiesSearchList .property {
    width: 105%;
    margin-left: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 2.5rem;
}

#propertiesSearchList .price {
    width: 11rem;
}

#propertiesSearchList #propertyDetails {
    align-items: center;
    width: 19rem;
}

#propertiesSearchList .propertyImgContainer {
    width: 13.75rem;
    max-height: 10.625rem;
    margin-bottom: 0;
    border-radius: 3px, 3px, 0, 0;
    overflow: hidden;
}

@media screen and (max-width: 850px) {
    #searchMap {
        display: none;
    }
    
    #propertiesSearchList {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    #searchMap {
        display: none;
    }
    
    #propertiesSearchList {
        width: 100%;
    }

    #propertiesSearchList .property {
        flex-direction: column;
        width: 100%;
    }
}