#searchResultsContainer {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#searchMap {
    width: 35%;
    height: 100vh;
}

#propertiesSearchList
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 65%;
}

#propertiesSearchList .property {
    padding: 0.625rem 0;
    border-bottom: 1px solid grey;
    margin: 1.25rem;
    width: 50rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#propertiesSearchList #propertyDetails {
    display: flex;
    align-items: center;
    width: 60%;
}

#propertyDetails p {
    margin-right: 1rem;
}

#propertiesSearchList .propertyImgContainer {
    width: 12.5rem;
    height: 9.375rem;
    border-radius: 1.25rem;
    overflow: hidden;
}