/* stylesheet for signUpView.php */

textarea {
    outline: none;
}

textarea:focus, input:focus{
    outline: none;
}

.red {
    border: 2px solid red;
}

.green {
    border: 2px solid green;
}

.nameError {
    visibility: hidden;
}

.lastNameError {
    visibility: hidden;
}

.emailError {
    visibility: hidden;
}

.passwordError {
    visibility: hidden;
}

.passwordConfirmError {
    visibility: hidden;
}

.errorText {
    visibility: hidden;
}


#newProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: centers;
}

#file {
    color: transparent;
}

