* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    margin: auto;
    display: flex;
}

header, footer
{
    width: 100%;
    height: 20vh;
    /* justify-content: center; */
    /* margin-top: 40px; */
    margin-bottom: 500px;
}

header
{
    position : fixed;
    top :0;
    color: #fff;
}

input, select {
    font-family: inherit;
}

button, input[type=submit] {
    font-family: inherit;
    background-color: #fff;
    color: gray;
    padding: 5px 10px;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 20px 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: gray;
}

p
{
    margin: 10px 0px;
}

section
{
    margin: auto;
    width: 80vw;
    min-height: 85vh;
    /* height: calc(100vh - 300px); */
    padding-top: 150px;  /* fill the space underneath the top header  */
}

.flexColumn
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
